<h3>Filament Movement Sensor Settings</h3>
<p>This plugin requires a compatible hardware sensor device, connected to Octoprint by a USB serial device.</p>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Stepper Connection') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.filamentmovement.stepper_connection">
	    <p>Enable this if your Filament Movement Sensor has a stepper motor connection. If you print
            via your printer's SD card, you'll need a stepper connection.</p>
        </div>
	<label class="control-label">{{ _('GCode Counter') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.filamentmovement.gcode_counter">
            <p>Enable this if you'd like the plugin to count Gcode filament movement. Use this if you print
            via Octoprint - it won't count anything if you print via your printer's SD card.</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Auto Connect and Disconnect') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.filamentmovement.auto_connect_disconnect">
            <p>Enable this to connect and disconnect the sensor when the printer connects or disconnects.</p>
        </div>
	<label class="control-label">{{ _('Reset Sensor Counters when Print Starts') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.filamentmovement.reset_sensor_on_print">
            <p>Enable this to reset the sensor's internal counters whenever a print starts.</p>
        </div>
    </div>
</form>
