<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="filamentmovementsensorplotly" style="width:600px;height:400px;"></div>

<div>
Sensor Status: <span data-bind="text: sensor_connection"></span>
</div>

<div>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Absolute Values</th>
    <th class="tg-0pky">Forwards</th>
    <th class="tg-0pky">Backwards</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th class="tg-0pky">Stepper</td>
    <td class="tg-0pky"><span data-bind="text: stepper_forward"></span></td>
    <td class="tg-0pky"><span data-bind="text: stepper_backward"></span></td></td>
  </tr>
  <tr>
    <th class="tg-0pky">Filament</td>
    <td class="tg-0pky"><span data-bind="text: filament_forward"></span></td></td>
    <td class="tg-0pky"><span data-bind="text: filament_backward"></span></td></td>
  </tr>
  <tr>
    <th class="tg-0pky">GCode</td>
    <td class="tg-0pky"><span data-bind="text: gcode_forward"></span></td></td>
    <td class="tg-0pky"><span data-bind="text: gcode_backward"></span></td></td>
  </tr>
</tbody>
</table>
</div>

